<div class="cars__parent">
  <div class="cars__child">
    <h1 class="alfa-slab-one">Car Listings</h1>

    <div class="car__container" ng-repeat="car in carsCtrl.cars">
      <div class="car__container-left">

        <div class="car__attribute">
          <span class="car__attribute-header open-sans">Make:</span>
          <div class="car__attribute-value merri-sans">
            <!-- Car Make Here -->
            {{ car.make }}
          </div>
        </div>

        <br />

        <div class="car__attribute">
          <span class="car__attribute-header open-sans">Color:</span>
          <div class="car__attribute-value merri-sans">
            <!-- Car Color Here -->
            {{ car.color }}
          </div>
        </div>

      </div>

      <div class="car__container-middle">

        <div class="car__attribute">
          <span class="car__attribute-header open-sans">Model:</span>
          <div class="car__attribute-value merri-sans">
            <!-- Car Model Here -->
            {{ car.model }}
          </div>
        </div>

        <br />

        <div class="car__attribute">
          <span class="car__attribute-header open-sans mr">Year:</span>
          <div class="car__attribute-value merri-sans">
            <!-- Car Year Here -->
            {{ car.year }}
          </div>
        </div>
      </div>

      <div class="car__container-right">
        <button class="alfa-slab-one" ng-click="carsCtrl.buyCar( car.id )">BUY</button>
      </div>
    </div>

  </div>
</div>