<div class="footer__parent">
  <div class="footer__child">
    <h1 class="alfa-slab-one"> Contact Us </h1>

    <div class="footer__inputs">
      <div class="footer__input-container">
        <div class="footer__input-header open-sans">Name: </div>
        <!-- Name Input Here -->
        <input class="footer__input" ng-model="footerCtrl.name" />
      </div>
  
      <div class="footer__input-container">
        <div class="footer__input-header open-sans">Email: </div>
        <!-- Email Input Here -->
        <input class="footer__input" ng-model="footerCtrl.email" />
      </div>
  
      <button class="footer__btn-contact open-sans" ng-click="footerCtrl.contact()">Contact!</button>
      <p class="footer__confirmation open-sans" ng-if="footerCtrl.contacted">We'll send you an email soon, thanks!</p>
    </div>
  </div>
</div>
